<div class="d-flex d-flex-row" align=left>
	<div class="d-flex d-flex-column">
		<%= bootstrap_form_with(model: message, local: true) do |f| %>
		  	<%= f.text_field :username, placeholder: "Jane Doe" , width: "100%" %>
		  	<%= f.email_field :email, placeholder: "youremail@example.com" %>
		  	<%= f.text_field :subject, placeholder: "Subject" %>
		  	<%= f.text_area :body, placeholder: "Send a message...", rows: "5" %>
		  	<%= f.submit "Send" %>
		<% end %>
	</div>
</div>