<%= raw(get_style Item.take) %>
<% @style = Style.take %>
<% @page_link = "/items" %>
<style>
.row {
  width: "75%";
}

a {
  color:<%= @style.alt_color %>;
  font-family: <%= @style.primary_font %>;
}

a:hover {
  text-decoration: none;
  color: <%= @style.secondary_color %>;
}
body {
  color: <%= @style.alt_color %>;
}
h1 {
  font-size: 57px;
}
h2 {
  font-size: 32px;
}
</style>
</head>
  <body class="text-align" style="background-color: black;">
    <p id="notice" class="notice"><%= notice %></p>
      <div class="row">
        <div class="col-sm-12" style="padding-top: 1rem; padding-bottom: 1rem;">
          <a href="<%= @page_link %>" style="float: left; padding-left: 7.5rem;">
            <a href="<%= @page_link %>" style="float: right; padding-right: 7.5rem;"></a>
          </div>
        </div>
      <div class="row center">
        <div class="col-sm-12 pf pc">
          <h1><%= link_to "Jesse Osborne", @page_link %></h1>
        </div>
      </div>
    <% copyrt = "&copy;" %>
    <div class="row fixed-bottom navbar" style="width: 100%; padding-top: 1rem; padding-bottom: 0;">
     <div class="nav-link"><%= link_to raw(copyrt) +"2018 " + ENV['SITE_TITLE'], "https://adhoc.herokuapp.com"%></div>
    </div>
